# List of packages that must be installed for the profile to work

# Needed for the profile installer
curl

# Enable customization
sudo

# Enable vscode remote out of the box
wget

# Default developer experience
git openssh-client

# For lang support
locales

# For the ps command
procps